################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/django_parallexpr.sln
/django_parallexpr.pyproj.user
/.vs
/django_parallexpr.pyproj
